* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
	background: linear-gradient(-45deg, #43E97B, #38F9D7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#quiz {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa; 
    box-shadow: 10px 10px 0px 0px rgba(125, 121, 121, 0.75);
    border-radius: 10px;
}

#quiz h2 {
    font-size: 28px;
    color: #343a40; 
}

#quiz p {
    font-size: 25px;
    font-weight: 600;
    color: #343a40;
}

#nivel {
    width: 9vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09b12e;
    border-radius: 10px;
}

#nivel h2 {
    font-size: 1.2rem;
    color: #f4f0f0;
}

#questoes-quiz {
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.opcoes {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.opcoes label {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #495057;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.opcoes label:hover {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    background-color: #e9ecef; 
}

.opcoes input {
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid #95a1a4;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;

}

.opcoes input:checked {
    border: #00B7FF;
    background-color: #00b7ff;
}

#submit {
    background-color: #38B6FF;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
}

#submit:hover {
    background-color: #007BFF; 
    transform: scale(1.05);
}